body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

header {
    background-color: #3b5998; /* Changed to a deep blue for aesthetic quality */
    color: white;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

section {
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Elevates sections visually */
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px); /* Adds a hover effect */
}

h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.5em;
    color: #2c3e50; /* Darker shade for headings */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.6;
}

a {
    color: #3b5998;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design for mobile devices */
@media only screen and (max-width: 600px) {
    body {
        padding: 5px;
    }

    header {
        padding: 1em;
    }

    section {
        margin: 10px;
        padding: 15px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.3em;
    }

    li {
        font-size: 0.9em;
        margin-bottom: 8px;
    }
}
